<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://127.0.0.1:5432/spring" />
        <property name="username" value="postgres" />
        <property name="password" value="password" />
    </bean>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:ru/job4j/hibernate.cfg.xml" />
    </bean>



<!--    <bean id="stor" class="ru.job4j.JdbcStorage">-->
<!--        <property name="factory" ref="sessionFactory"/>-->
<!--    </bean>-->

    <bean id="stor" class="ru.job4j.MemoryStorage"/>

    <bean id="storage" class="ru.job4j.UserStorage">
        <constructor-arg name="storage" ref="stor"/>
    </bean>


</beans>